table{
    display: flex;
    flex-direction: column;
    align-items: baseline !important;
    color:#212121;
    background-color: white;
    border-radius: 15px;
    width: 75%;
    justify-content: center;
    margin-top: 50px;
    height: fit-content;
  
  }
  
  th{
    width: 500px ;
  }
  td{
    width: 500px ;
  
  }
  
  a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid black;
  }