
<nav class="navbar navbar-dark bg-dark" style="margin-top: 1%;">
  <!-- Navbar content -->
  <!-- <li style="color: white;">err</li> -->
  
  <a style="padding-left: 10%"  routerLinkActive="active" routerLink="/">Registeration</a>
  <a  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/students">Students</a>
  <a  routerLinkActive="active" routerLink="/students/5">Students Details</a>
  <a style="padding-right: 10%"  routerLinkActive="active" routerLink="/lijfaf">Error</a>
</nav>
