<div *ngIf="user; else falseBlock" class="card" class="card text-center mx-auto" style="margin-top: 50px;">

    <div class="card-body">
      <h5 class="card-title">user Details</h5>
      <p class="card-text">Name: {{user.name}} </p>
      <p class="card-text">age: {{user.age}}</p>
      <p class="card-text">phone: {{user.phone}}</p>
      <p class="card-text">email: {{user.email}}</p>
    </div>
  </div>
  <ng-template #falseBlock>
    <div class="alert alert-danger" >Loading
    </div>
  </ng-template>