<div class="card" style="width: 18rem; margin-left: 35%;">
    <img src="assets/images/wafaa.jpeg"  class="card-img-top" alt="Chicago Skyscrapers"/>
    <div class="card-body">
      <h5 class="card-title">Wafaa Muhammad</h5>
      <p class="card-text">ITI trainee (open-source track)</p>
    </div>
    <ul class="list-group list-group-light list-group-small">
      <li class="list-group-item px-4">Graduated from the faculty of science Alexandria university</li>
      <li class="list-group-item px-4">SIM Department</li>
      <li class="list-group-item px-4">22 years</li>
    </ul>
  </div>