


    <div class="frm">
      <div class="form-group mb-2">
        <div class="mb-3">
     
            <input  type="text" class="form-control" placeholder="Fullname" aria-label="Username" aria-describedby="basic-addon1"
            [(ngModel)]="fname"
            [ngClass]="{'vaild': fname && fname.length>=3,'in-vaild':fname && fname.length<3}">

            <div style="text-align: center; color: red;" *ngIf="fname.length<3 && fname; else Invalidname">
              <p class="mb-0">Name in Valid</p>
          </div>
      
          <ng-template #Invalidname>
              <div style="text-align: center; color: green;" *ngIf="fname.length>=3">
                <p class="mb-0">Name Valid</p>
              </div>
            </ng-template>
      </div>

  
      <div class="form-group">
        <div class="mb-3">     
            <input type="text" class="form-control" placeholder="age" aria-label="Username" aria-describedby="basic-addon1"
            [(ngModel)]="age"
            [ngClass]="{'vaild': age && (+age)>20 && (+age)<40 ,'in-vaild':age && (+age)<=20 || (+age)>=40}" >

              <div style="text-align: center; color: green; margin-top: 5px;"
              *ngIf="(+age)>20 && (+age)<40; else Invalidage">
              <p class="mb-0"> Valid age</p>
          </div>
      
      
          <ng-template #Invalidage>
              <div style="text-align: center; color: red; margin-top: 5px;" *ngIf="age">
                <p class="mb-0">UnValid age</p>
              </div>
            </ng-template>
      <!--         
              <div style="text-align: center; color: green; margin-top: 5px;"
              *ngIf="(+age)<40 && age;">
              <p class="mb-0">Age  Valid</p>
              </div> -->
    
      <button type="button" class="btn btn-primary my-3" (click)="Add()">Add</button>
    </div>
